stages:
  - lint
  - build
  - test
  - publish
  - docs
  - downstreams

variables:
  zkgroup_ver: "0.7.0"
  DOCKER_TLS_CERTDIR: "/certs"

.testserver: &testserver
  variables:
    SIGNAL_CA: AAAAAgAAABSdqZ0bYZjYEKqWbhu75wrXJh13PAAABo8BAAVteWtleQAAAXfXkMrnAAAAAAAFWC41MDkAAARpMIIEZTCCA02gAwIBAgIQQAF1BIMUpMghjISpDBbN3zANBgkqhkiG9w0BAQsFADA/MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMTDkRTVCBSb290IENBIFgzMB4XDTIwMTAwNzE5MjE0MFoXDTIxMDkyOTE5MjE0MFowMjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxCzAJBgNVBAMTAlIzMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuwIVKMz2oJTTDxLsjVWSw/iC8ZmmekKIp10mqrUrucVMsa+Oa/l1yKPXD0eUFFU1V4yeqKI5GfWCPEKpTm71O8Mu243AsFzzWTjn7c9p8FoLG77AlCQlh/o3cbMT5xys4Zvv2+Q7RVJFlqnBU840yFLuta7tj95gcOKlVKu2bQ6XpUA0ayvTvGbrZjR8+muLj1cpmfgwF126cm/7gcWt0oZYPRfH5wm78Sv3htzB2nFd1EbjzK0lwYi8YGd1ZrPxGPeiXOZT/zqItkel/xMY6pgJdz+dU/nPAeX1pnAXFK9jpP+Zs5Od3FOnBv5IhR2haa4ldbsTzFID9e1RoYvbFQIDAQABo4IBaDCCAWQwEgYDVR0TAQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwSwYIKwYBBQUHAQEEPzA9MDsGCCsGAQUFBzAChi9odHRwOi8vYXBwcy5pZGVudHJ1c3QuY29tL3Jvb3RzL2RzdHJvb3RjYXgzLnA3YzAfBgNVHSMEGDAWgBTEp7Gkeyxx+tvhS5B1/8QVYIWJEDBUBgNVHSAETTBLMAgGBmeBDAECATA/BgsrBgEEAYLfEwEBATAwMC4GCCsGAQUFBwIBFiJodHRwOi8vY3BzLnJvb3QteDEubGV0c2VuY3J5cHQub3JnMDwGA1UdHwQ1MDMwMaAvoC2GK2h0dHA6Ly9jcmwuaWRlbnRydXN0LmNvbS9EU1RST09UQ0FYM0NSTC5jcmwwHQYDVR0OBBYEFBQusxe3WFbLrlAJQOYfr52LFMLGMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQsFAAOCAQEA2UzgyfWEiDcx27sT4rP8i2tiEmxYt0l+PAK3qB8oYevO4C5z70kHejWEHx2taPDY/laBL21/WKZuNTYQHHPD5b1tXgHXbnL7KqC401dk5VvCadTQsvd8S8MXjohyc9z9/G2948kLjmE6Flh9dDYrVYA9x2O+hEPGOaEOa1eePynBgPayvUfLqjBstzLhWVQLGAkXXmNs+5ZnPBxzDJOLxhF2JIbeQAcH5H0tZrUlo5ZYyOqA7s9pO5b85o3AM/OJ+CktFBQtfvBhcJVd9wvlwPsk+uyOy2HI7mNxKKgsBTt375teA2TwUdHkhVNcsAKX1H7GNNLOEADksd86wuoXvgBtfFvkJtev/HkVWt0+vF+oTiEI9Q==
    SIGNAL_URL: https://signal-server.signald.org
    DEFAULT_SERVER_UUID: f70feaec-95b0-4519-b458-1ab0dec83777

services:
  - docker:20.10.0-dind

clang-format:
  image: debian:buster-backports
  stage: lint
  before_script:
    - apt-get update && apt-get install -y clang-format-11 git python3 wget make
  script:
    - tools/format.sh
  needs: []
  rules:
    - when: on_success

.build:
  image: openjdk:${JAVA_VERSION}-jdk
  stage: build
  needs: []
  script:
    - 'export "VERSION=$(./version.sh)"'
    - 'echo "Version: ${VERSION}"'
    - ./gradlew installDist
  artifacts:
    paths:
      - build/
    expire_in: 30 days
  rules:
    - when: on_success

build java8 x86_64-unknown-linux-gnu:
  extends: .build
  variables:
    JAVA_VERSION: 8

build java11 x86_64-unknown-linux-gnu:
  extends: .build
  variables:
    JAVA_VERSION: 11

build java8 armv7-unknown-linux-gnueabihf:
  extends: .build
  variables:
    JAVA_VERSION: 8
    SIGNALD_TARGET: armv7-unknown-linux-gnueabihf

build java11 armv7-unknown-linux-gnueabihf:
  extends: .build
  variables:
    JAVA_VERSION: 11
    SIGNALD_TARGET: armv7-unknown-linux-gnueabihf

build java8 aarch64-unknown-linux-gnu:
  extends: .build
  variables:
    JAVA_VERSION: 8
    SIGNALD_TARGET: aarch64-unknown-linux-gnu

build java11 aarch64-unknown-linux-gnu:
  extends: .build
  variables:
    JAVA_VERSION: 11
    SIGNALD_TARGET: aarch64-unknown-linux-gnu

build deb x86:
  image: registry.gitlab.com/signald/infrastructure/signald-builder-x86:d5e68709
  stage: build
  needs: []
  before_script:
    - export VERSION="$(./version.sh)"
    - echo "Building signald version $VERSION"
    - "sed -i 's/^Architecture:.*/Architecture: amd64/g' debian/control"
  script:
    - gbp dch --ignore-branch --debian-tag="%(version)s" --git-author --new-version="${VERSION}"
    - dpkg-buildpackage -b
    - mv ../signald_* .
  artifacts:
    paths:
      - "signald_*"
    expire_in: 30 days
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

build deb aarch64:
  image: registry.gitlab.com/signald/infrastructure/signald-builder-arm64-v8:010941fc
  stage: build
  needs: []
  tags: [arm-builder]
  before_script:
    - export VERSION="$(./version.sh)"
    - echo "Building signald version $VERSION"
    - "sed -i 's/^Architecture:.*/Architecture: arm64/g' debian/control"
  script:
    - gbp dch --ignore-branch --debian-tag="%(version)s" --git-author --new-version="${VERSION}"
    - dpkg-buildpackage -b
    - mv ../signald_* .
  artifacts:
    paths:
      - "signald_*"
    expire_in: 30 days
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

build deb armhf:
  image: registry.gitlab.com/signald/infrastructure/signald-builder-arm-v7:010941fc
  stage: build
  needs: []
  tags: [arm-builder]
  before_script:
    - export VERSION="$(./version.sh)"
    - echo "Building signald version $VERSION"
    - "sed -i 's/^Architecture:.*/Architecture: armhf/g' debian/control"
  script:
    - gbp dch --ignore-branch --debian-tag="%(version)s" --git-author --new-version="${VERSION}"
    - dpkg-buildpackage -b
    - mv ../signald_* .
  artifacts:
    paths:
      - "signald_*"
    expire_in: 30 days
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

build-docker x86:
  image: docker:latest
  stage: build
  needs: []
  before_script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker login -u ${DOCKER_HUB_USERNAME} -p ${DOCKER_HUB_PASSWORD}; fi
  script:
    - docker build --build-arg "CI_BUILD_REF_NAME=${CI_BUILD_REF_NAME}" --build-arg "CI_COMMIT_SHA=${CI_COMMIT_SHA}" -t ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG} .
    - docker push ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}
    - if [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG} ${CI_REGISTRY_IMAGE}:latest; fi;
    - if [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker push ${CI_REGISTRY_IMAGE}:latest; fi;
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG} ${DOCKER_HUB_USERNAME}/signald:${CI_COMMIT_REF_SLUG}; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker push ${DOCKER_HUB_USERNAME}/signald:${CI_COMMIT_REF_SLUG}; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]] && [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker tag ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG} ${DOCKER_HUB_USERNAME}/signald:latest; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]] && [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker push ${DOCKER_HUB_USERNAME}/signald:latest; fi
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

docker:
  image: jdrouet/docker-with-buildx:stable
  stage: build
  tags: [docker-builder]
  before_script: # per recommendations from https://github.com/docker/buildx/issues/495#issuecomment-754200673
    - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
    - docker buildx create --name cibuilder --driver docker-container --use
    - docker buildx inspect --bootstrap
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - export platform_sanatized=$(echo ${PLATFORM:6} | sed 's#/#-#g')
  script:
    - docker buildx build --platform "${PLATFORM}" -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA:0:8}" -t "${CI_REGISTRY_IMAGE}:${platform_sanatized}-${CI_COMMIT_SHA:0:8}" -t "${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}" -t "${CI_REGISTRY_IMAGE}:${platform_sanatized}-${CI_COMMIT_REF_SLUG}" --push .
    - if [[ "${CI_COMMIT_REF_PROTECTED}" == "true" ]]; then docker login -u ${DOCKER_HUB_USERNAME} -p ${DOCKER_HUB_PASSWORD}; fi
    - if [[ "${CI_COMMIT_REF_PROTECTED}" == "true" ]]; then docker buildx build --platform "${PLATFORM}" -t "${CI_REGISTRY_IMAGE}:latest" -t "${CI_REGISTRY_IMAGE}:${platform_sanatized}-latest" --push . ; fi
    - if [[ "${CI_COMMIT_REF_PROTECTED}" == "true" ]]; then docker buildx build --platform "${PLATFORM}" -t "${DOCKER_HUB_USERNAME}/signald:latest" -t "${DOCKER_HUB_USERNAME}/signald:${platform_sanatized}-latest" -t "signald/signald:latest" -t "signald/signald:${platform_sanatized}-latest" --push .; fi
  parallel:
    matrix:
      - PLATFORM:
          - linux/amd64
          - linux/arm64/v8
          - linux/arm/v7
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald"' # && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

build docker aarch64:
  stage: build
  tags: [arm-docker-builder]
  needs: []
  before_script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker login -u ${DOCKER_HUB_USERNAME} -p ${DOCKER_HUB_PASSWORD}; fi
  script:
    - docker build --build-arg "CI_BUILD_REF_NAME=${CI_BUILD_REF_NAME}" --build-arg "CI_COMMIT_SHA=${CI_COMMIT_SHA}" -t ${CI_REGISTRY_IMAGE}:aarch64-${CI_COMMIT_REF_SLUG} .
    - docker push ${CI_REGISTRY_IMAGE}:aarch64-${CI_COMMIT_REF_SLUG}
    - if [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker tag ${CI_REGISTRY_IMAGE}:aarch64-${CI_COMMIT_REF_SLUG} ${CI_REGISTRY_IMAGE}:aarch64-latest; fi;
    - if [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker push ${CI_REGISTRY_IMAGE}:aarch64-latest; fi;
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker tag ${CI_REGISTRY_IMAGE}:aarch64-${CI_COMMIT_REF_SLUG} ${DOCKER_HUB_USERNAME}/signald:aarch64-${CI_COMMIT_REF_SLUG}; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]]; then docker push ${DOCKER_HUB_USERNAME}/signald:aarch64-${CI_COMMIT_REF_SLUG}; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]] && [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker tag ${CI_REGISTRY_IMAGE}:aarch64-${CI_COMMIT_REF_SLUG} ${DOCKER_HUB_USERNAME}/signald:aarch64-latest; fi
    - if [[ ! -z "${DOCKER_HUB_USERNAME}" ]] && [[ "${CI_COMMIT_REF_SLUG}" == "main" ]]; then docker push ${DOCKER_HUB_USERNAME}/signald:aarch64-latest; fi
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

unit tests x86:
  <<: *testserver
  image: openjdk:11-jdk
  stage: test
  needs: []
  before_script:
    - cp tools/log4j2.xml src/main/resources/log4j2.xml
  script:
    - ./gradlew test --info
  rules:
    - when: on_success

integration tests x86:
  <<: *testserver
  image: openjdk:11-jdk
  stage: test
  needs: []
  before_script:
    - cp tools/log4j2.xml src/main/resources/log4j2.xml
  script:
    - ./gradlew integrationTest --info
  artifacts:
    reports:
      junit: build/test-results/integrationTest/TEST-*.xml
    expire_in: 30 days
  rules:
    - when: on_success

unit tests aarch64-unknown-linux-gnu:
  <<: *testserver
  image: debian
  stage: test
  tags: [arm-builder]
  needs: []
  before_script:
    - apt update && apt install -y make openjdk-11-jdk-headless
  script:
    - ./gradlew test
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

integration tests aarch64-unknown-linux-gnu:
  <<: *testserver
  image: debian
  stage: test
  tags: [arm-builder]
  needs: []
  before_script:
    - apt update && apt install -y make openjdk-11-jdk-headless
  script:
    - ./gradlew integrationTest --info
  artifacts:
    reports:
      junit: build/test-results/integrationTest/TEST-*.xml
    expire_in: 30 days
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

integration tests x86_64-apple-darwin:
  <<: *testserver
  image: debian
  stage: test
  tags: [darwin-builder]
  needs: []
  before_script:
    - apt update && apt install -y make openjdk-11-jdk-headless
  script:
    - export PATH=/usr/local/opt/openjdk/bin:$PATH # work around issue with brew installed java
    - ./gradlew integrationTest --info
  after_script:
    - rm -rf ~/.config/signald
  artifacts:
    reports:
      junit: build/test-results/integrationTest/TEST-*.xml
    expire_in: 30 days
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

unit tests x86_64-apple-darwin:
  <<: *testserver
  image: debian
  stage: test
  tags: [darwin-builder]
  needs: []
  before_script:
    - apt update && apt install -y make openjdk-11-jdk-headless
  script:
    - export PATH=/usr/local/opt/openjdk/bin:$PATH # work around issue with brew installed java
    - ./gradlew test
  after_script:
    - rm -rf ~/.config/signald
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: manual
      allow_failure: true

publish debian packages:
  image: registry.gitlab.com/signald/infrastructure/signald-builder-x86:d5e68709
  stage: publish
  tags: [deb-signer]
  needs: ["build deb x86", "build deb aarch64", "build deb armhf"]
  script:
    - tools/aptly-publish.sh
  variables:
    DISTRIBUTION: unstable
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "signald" && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success

validate protocol:
  image: golang:latest
  stage: docs
  before_script:
    - apt-get update && apt-get install -y openjdk-11-jdk-headless
  script:
    - build/install/signald/bin/signald --dump-protocol > protocol.json
    - go run ./tools/protocol-validator < protocol.json
  needs: ["build java11 x86_64-unknown-linux-gnu"]
  artifacts:
    paths:
      - protocol.json
    expire_in: 1 year
  rules:
    - when: on_success

signald.org-branch:
  image: debian
  stage: docs
  before_script:
    - echo 'deb http://deb.debian.org/debian buster-backports main' > /etc/apt/sources.list.d/backports.list
    - apt-get update && apt-get install -t buster-backports -y hugo golang-go
    - apt-get install -y jq locales python3 python3-requests python3-pip openjdk-11-jdk-headless curl
    - apt install -y --allow-downgrades libcurl3-gnutls/stable  # wtf is this shit? https://superuser.com/questions/1642858/git-on-debian-10-backports-throws-fatal-unable-to-access-https-github-com-us
    - pip3 install anybadge
    - sed -i '/en_US.UTF-8/s/^# //g' /etc/locale.gen && locale-gen
    - git clone https://gitlab.com/signald/signald.org
  script:
    - mkdir -p signald.org/content/signaldctl/reference
    - SIGNALDCTL_PUBLIC_DOC_MODE=on ./signaldctl doc -o md ./signald.org/content/signaldctl/reference
    - build/install/signald/bin/signald --dump-protocol | jq . > ./signald.org/content/protocol.json
    - cd signald.org
    - go run generate.go < content/protocol.json
    - mkdir -p themes/hugo-geekdoc/
    - curl -L https://github.com/thegeeklab/hugo-geekdoc/releases/latest/download/hugo-geekdoc.tar.gz | tar -xz -C themes/hugo-geekdoc/ --strip-components=1
    - python3 ./generate-badges.py
    - sed -i "s#https://signald.org#https://signald.gitlab.io/-/signald/-/jobs/${CI_JOB_ID}/artifacts/public/#" config.toml
    - hugo
    - mv public ../public
  artifacts:
    paths:
      - public
    expose_as: signald dot org preview
    expire_in: 1 month
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "false"'
  needs:
    - "build java11 x86_64-unknown-linux-gnu"
    - project: signald/signald-go
      job: build:x86
      ref: main
      artifacts: true

signald.org:
  stage: downstreams
  needs: ["validate protocol"]
  trigger: signald/signald.org
  only:
    - main
