Source: signald
Section: java
Priority: optional
Maintainer: Finn Herzfeld <signald@janky.solutions>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://signald.org
Vcs-Git: https://gitlab.com/signald/signald.git
Vcs-Browser: https://gitlab.com/signald/signald

Package: signald
Recommends: signaldctl (>= 0.1.0)
Architecture: all
Depends:default-jre, libunixsocket-java, ${misc:Depends}
Description:  an unofficial daemon that facilitates communication with the Signal messaging app.
 signald is a daemon to facilitate communicating with users of the Signal messaging app. It is an
 unofficial signal client and is not in any way endorsed or even approved by Signal Messenger
