#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with javahelper --with systemd # use the javahelper extension

override_dh_auto_build:
	dh_auto_build -- installDist

override_dh_auto_install:
	dh_auto_install
	dh_systemd_enable || true
	dh_systemd_start || true
	# here we can install additional files like an upstart configuration
	# export UPSTART_TARGET_DIR=debian/my_project/etc/init/; \
	# mkdir -p $${UPSTART_TARGET_DIR}; \
	# install -m 644 debian/my_project.conf $${UPSTART_TARGET_DIR};

# additional install target of javahelper
override_jh_installlibs:
	dh_link debian/signald/var/lib/signald/bin/signald debian/signald/usr/bin/signald
