[Unit]
Description=A daemon for interacting with the Signal Private Messenger
Wants=network.target
After=network.target

[Service]
Type=simple
PermissionsStartOnly=true
RuntimeDirectory=signald
User=signald
Group=signald
ExecStart=/usr/bin/signald -d /var/lib/signald
Restart=on-failure

[Install]
WantedBy=default.target
